// color for the website
$color-dark-1: #282828;
$color-dark-2: #5f6980;
$color-dark-3: #9d9fa2;
$color-dark-4: #929292;
$color-dark-5: #f2f4f7;
$color-dark-6: #eaecf0;

// temp colors
$color-outside: #dcfff5;
$color-inside: #20c997;

// graph colors
$color-green-1: #57cc78;
$color-sky-1: #55dbdb;
$color-yellow-1: #e2ff32;
$color-orange-1: #fec102;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em;
